################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/HomeWork 6.1.2.vcxproj.user
/HomeWork 6.1.2.vcxproj.filters
/HomeWork 6.1.2.vcxproj
/HomeWork 6.1.2.sln
/Debug/vc141.pdb
/Debug/vc141.idb
/Debug/Source.obj
/Debug/HomeWork 6.1.2.tlog/link.write.1.tlog
/Debug/HomeWork 6.1.2.tlog/link.read.1.tlog
/Debug/HomeWork 6.1.2.tlog/link.command.1.tlog
/Debug/HomeWork 6.1.2.tlog/HomeWork 6.1.2.lastbuildstate
/Debug/HomeWork 6.1.2.tlog/CL.write.1.tlog
/Debug/HomeWork 6.1.2.tlog/CL.read.1.tlog
/Debug/HomeWork 6.1.2.tlog/CL.command.1.tlog
/Debug/HomeWork 6.1.2.pdb
/Debug/HomeWork 6.1.2.log
/Debug/HomeWork 6.1.2.ilk
/Debug/HomeWork 6.1.2.exe
/.vs/HomeWork 6.1.2/v15/ipch/AutoPCH/b911c2a0d993e52a/SOURCE.ipch
/.vs/HomeWork 6.1.2/v15/ipch/AutoPCH/b911c2a0d993e52a
/.vs/HomeWork 6.1.2/v15/ipch/AutoPCH/3a34f1d30e752d3e/SOURCE.ipch
/.vs/HomeWork 6.1.2/v15/ipch/AutoPCH/3a34f1d30e752d3e
/.vs/HomeWork 6.1.2/v15/ipch/AutoPCH/32cc2c7ac74392ee/SOURCE.ipch
/.vs/HomeWork 6.1.2/v15/Browse.VC.opendb
/.vs/HomeWork 6.1.2/v15/Browse.VC.db
/.vs/HomeWork 6.1.2/v15/.suo
/HomeWork 6.1.1/Debug
/HomeWork 6.1.1/.vs/HomeWork 6.1.1/v15
/HomeWork 6.1.1/HomeWork 6.1.1.vcxproj.filters
/HomeWork 6.1.1/HomeWork 6.1.1.vcxproj
/HomeWork 6.1.1/HomeWork 6.1.1.sln
/.vs/HomeWork 6.1.2/v15/ipch/AutoPCH/d89f3734773f9128/TASK 6.2.2.ipch
/.vs/HomeWork 6.1.2/v15/ipch/AutoPCH/d89f3734773f9128
/HomeWork 6.2.3/HomeWork 6.2.3.vcxproj.user
/HomeWork 6.2.3/HomeWork 6.2.3.vcxproj.filters
/HomeWork 6.2.3/HomeWork 6.2.3.vcxproj
/HomeWork 6.2.3/HomeWork 6.2.3.sln
/HomeWork 6.2.3/.vs/HomeWork 6.2.3/v15/Browse.VC.opendb
/HomeWork 6.2.3/.vs/HomeWork 6.2.3/v15/Browse.VC.db
/HomeWork 6.2.3/.vs/HomeWork 6.2.3/v15/.suo
/HomeWork 6.2.3/.vs/HomeWork 6.2.3/v15/ipch/AutoPCH/b91212f945bf6e6b/TASK 6.2.3.ipch
/HomeWork 6.2.3/.vs/HomeWork 6.2.3/v15/ipch/AutoPCH/b91212f945bf6e6b
